<ul class="nav">
  {{#linkTo 'index' tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Alles</a>{{/linkTo}}
  {{#each client in controller}}
    {{#linkTo 'client' client tagName="li" href=false}}<a {{bindAttr href="view.href"}}>{{unbound client.fullName}}</a>{{/linkTo}}
  {{/each}}
</ul>
