{{#if view.showLoadMore}}
  {{#if content.isLoaded}}
    <button class="btn" {{action loadMore target="view"}}>Toon meer berichten...</button>
  {{else}}
    <button class="btn">Loading...</button>
  {{/if}}
{{/if}}
